# Slider specific init.rc
import /vendor/etc/init/hw/init.gs101.rc

on init
    # NFC streset tool name
    setprop persist.vendor.nfc.streset libstreset21
    setprop persist.vendor.se.streset libstreset21

# When ro.build.flavor=factory_slider-userdebug, add vendor/bin/factory to default path
on init && property:ro.build.flavor=factory_slider-userdebug
    import /vendor/etc/init/hw/init.factory.rc

on init
    # logbuffer
    chown system system /dev/logbuffer_6-0057

on early-boot
    # Wait for insmod_sh to finish all common modules
    wait_for_prop vendor.common.modules.ready 1
    start insmod_sh_slider


service insmod_sh_slider /vendor/bin/init.insmod.sh /vendor/etc/init.insmod.slider.cfg
    class main
    user root
    group root system
    disabled
    oneshot

# charger driver exposes now finer grain control, map demo mode to those properties
# NOTE: demo mode can only be exit wiping data (which reset the persist properties)
on property:sys.retaildemo.enabled=1
    setprop persist.vendor.charge.stop.level 35
    setprop persist.vendor.charge.start.level 30
  
echo 1 > /proc/vendor_sched/pmu_poll_enable
echo N > /sys/module/damon_reclaim/parameters/enabled
echo 30000000 > /sys/module/damon_reclaim/parameters/min_age
echo 1000000000 > /sys/module/damon_reclaim/parameters/quota_sz
echo 1000 > /sys/module/damon_reclaim/parameters/quota_reset_interval_ms
echo 500 > /sys/module/damon_reclaim/parameters/wmarks_high
echo 400 > /sys/module/damon_reclaim/parameters/wmarks_mid
echo 200 > /sys/module/damon_reclaim/parameters/wmarks_low
echo y > /sys/kernel/mm/lru_gen/enabled
echo 5000 > /sys/kernel/mm/lru_gen/min_ttl_ms

sleep 60; 

echo 2 > /sys/devices/system/cpu/cpufreq/policy0/sched_pixel/lcpi_threshold
echo 44 > /sys/devices/system/cpu/cpufreq/policy0/sched_pixel/spc_threshold
echo 1401000 > /sys/devices/system/cpu/cpufreq/policy0/sched_pixel/limit_frequency

echo 6 > /sys/devices/system/cpu/cpufreq/policy4/sched_pixel/lcpi_threshold
echo 30 > /sys/devices/system/cpu/cpufreq/policy4/sched_pixel/spc_threshold
echo 1663000 > /sys/devices/system/cpu/cpufreq/policy4/sched_pixel/limit_frequency

echo 5 > /sys/devices/system/cpu/cpufreq/policy6/sched_pixel/lcpi_threshold
echo 40 > /sys/devices/system/cpu/cpufreq/policy6/sched_pixel/spc_threshold
echo 2401000 > /sys/devices/system/cpu/cpufreq/policy6/sched_pixel/limit_frequency

echo 10 > /proc/vendor_sched/pmu_poll_time
echo 1 > /proc/vendor_sched/pmu_poll_enable
echo 1 > /sys/devices/system/cpu/cpufreq/policy0/sched_pixel/pmu_limit_enable
echo 1 > /sys/devices/system/cpu/cpufreq/policy4/sched_pixel/pmu_limit_enable
echo 1 > /sys/devices/system/cpu/cpufreq/policy6/sched_pixel/pmu_limit_enable

sleep 30; 

echo N > /sys/module/damon_reclaim/parameters/enabled
echo 1 > /proc/vendor_sched/pmu_poll_enable
